<div>
  <div>
    <%= dates %>
  </div>
  <div>
    <%= name %>
  </div>
  <div>
    <%= major %>
  </div>
  <div>
    <%= location %>
  </div>
  <div>
    <% for item in involvement do %>
      <%= item %>
    <% end %>
  </div>
</div>
