<div>
  <div>
    Dates: <%= dates %>
  </div>
  <div>
    <%= name %>
  </div>
  <div>
    <%= location %>
  </div>
  <div>
    <%= description %>
  </div>
  <div>
    <% for tag in tags do %>
      <div>
        <%= tag %>
      </div>
    <% end %>
  </div>
</div>
