<div class="mb-xl">
  <div class="exp-dates">
    <%= dates.year %>
  </div>
  <div class="exp-name">
    <a href="<%= url %>" class="no-color-a"><%= name %> <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
  </div>
  <div class="exp-description">
    <%= description %>
  </div>
  <div class="tag-container">
    <% for tag in tags do %>
      <div class="tag">
        <%= tag %>
      </div>
    <% end %>
  </div>
</div>
