<div class="show-container flex-1">
  <div class="show-content">
    <a href="/project" class="mt-xl"><i class="fa-solid fa-arrow-left"></i> All projects</a>
    <h2 class="no-bot-space-header"><%= @project.name %></h2>
    <p class="mb-xl mt-xs muted-text"><%= @project.date.year %></p>
    <%= @project.description %>
    <div class="tag-container mt-xl mb-xl">
      <% for tag in @project.tags %>
        <div class="tag"><%= tag %></div>
      <% end %>
    </div>
    <% if !@project.active %>
      <%= render "project/infocards/card_inactive" %>
    <% end %>
    <% if @project.in_development %>
      <%= render "project/infocards/card_development" %>
    <% end %>
    <% if @project.unreleased %>
      <%= render "project/infocards/card_unreleased" %>
    <% end %>
    <% if @project.long_description != nil %>
      <%= render "project/infocards/card_about", content: @project.long_description %>
    <% end %>
    <% if @project.overview_image_attachment != nil %>
      <%= render "project/infocards/card_overview_image", project: @project %>
    <% end %>
    <% if @project.github_link != "" %>
      <%= render 'project/infocards/card_links', content: @project.github_link %>
    <% else %>
      <%= render 'project/infocards/card_info', content: "This repository is private." %>
    <% end %>
    <% if @project.comments != "" %>
      <%= render "project/infocards/card_comments", content: @project.comments %>
    <% end %>
  </div>
</div>
